@using CrashReports.Models
@model CrashReports.Models.FullReportViewModel

@{
	ViewBag.Title = "Crash Reports";
	TimeZoneInfo pstTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
	string groupName = "";
}

<div class="full-report-banner">
	<span class="active"><strong>@Model.Reports.Count()</strong> active</span>
	<span class="fixed"><strong>@Model.FixedCount</strong> fixed</span>
	<span class="ignored"><strong>@Model.IgnoredCount</strong> ignored</span>
</div>

<h3>Reports</h3>
@foreach (var version in Model.Reports.OrderByDescending(x => x.LastCrash).GroupBy(x => x.AppVersions))
{
	<h4>@version.Key.ToString()</h4>
	foreach(var report in version)
	{
		<div class="crash-report">
			<p><strong>@TimeZoneInfo.ConvertTimeFromUtc(report.LastCrash, pstTimeZone).ToString("g")</strong> @Html.ActionLink(report.Title, "Log", new { id = report.Id, version = version.Key.ToString() }) (@report.Occurences)</p>
		</div>
	}
}
