@using CrashReports.Models
@model FullReportViewModel

@{
	ViewBag.Title = "Crash Reports";
	TimeZoneInfo pstTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
}

<div class="full-report-banner">
	<span class="active"><strong>@Model.Reports.Count()</strong> active</span>
	<span class="fixed"><strong>@Model.FixedCount</strong> fixed</span>
	<span class="ignored"><strong>@Model.IgnoredCount</strong> ignored</span>
</div>

<h3>Reports</h3>
@foreach (var version in Model.Reports.OrderByDescending(x => x.AppVersions).Select(x => x.ApplicationVersion))
{
	<h4>@version.ToString()</h4>
	foreach (var report in Model.Reports.Where(x => x.AppVersions.Contains(version)).OrderByDescending(x => x.LastCrash))
	{
		<div class="crash-report">
			<p><strong>@TimeZoneInfo.ConvertTimeFromUtc(report.LastCrash, pstTimeZone).ToString("g")</strong> @Html.ActionLink(report.Title, "Log", new { id = report.Id, version = version.ToString() }) (@report.Occurences)</p>
		</div>
	}
}
