@model CrashReports.Models.FullReportViewModel

@{
	ViewBag.Title = "Home Page";
	TimeZoneInfo pstTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
}

<div class="full-report-banner">
	<span class="active">@Model.Reports.Count() active</span>
	<span class="fixed">@Model.FixedCount fixed</span>
	<span class="ignored">@Model.IgnoredCount ignored</span>
</div>

<h3>Reports</h3>
@foreach (var report in Model.Reports)
{
	<div class="crash-report">
		<p>@TimeZoneInfo.ConvertTimeFromUtc(report.Created, pstTimeZone).ToString("g") @Html.ActionLink(report.ErrorMessage, "Log", new { id = report.Id }) (@report.Occurences) </p>
	</div>
}

