@using CrashReports.Models
@model FullReportViewModel

@{
	ViewBag.Title = "Applications";
	TimeZoneInfo pstTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
	string groupName = "";
}

<div class="full-report-banner">
	@foreach (string app in Model.Applications)
	{
		@Html.ActionLink(app, "Application", new { appName = app})
	}
</div>

<h3>Latest Reports from the last 14 days</h3>
@foreach (var reports in Model.Reports.GroupBy(x => x.ApplicationName))
{
	<h3>@reports.Key</h3>
	foreach (Version version in reports.SelectMany(x => x.AppVersions).Distinct().OrderByDescending(x => x))
	{
		<h4>@version.ToString()</h4>
		foreach (var report in reports.Where(x => x.AppVersions.Contains(version)).OrderByDescending(x => x.LastCrash))
		{
			<div class="crash-report">
				<p><strong>@TimeZoneInfo.ConvertTimeFromUtc(report.LastCrash, pstTimeZone).ToString("g")</strong> @Html.ActionLink(report.Title, "Log", new { id = report.Id, version = version.ToString() }) (@report.Occurences)</p>
			</div>
		}
	}
}
