@using CrashReports.Models
@model FullReportViewModel

@{
	ViewBag.Title = "Applications";
	TimeZoneInfo pstTimeZone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
	string groupName = "";
}

<div class="full-report-banner">
	@foreach (string app in Model.Applications)
	{
		@Html.ActionLink(app, "Application", new { appName = app})
	}
</div>

<h3>Latest Reports from the last 14 days</h3>
@foreach (var app in Model.Reports.GroupBy(x => x.ApplicationName))
{
	<h3>@app</h3>
	foreach (var version in app.OrderByDescending(x => x.LastCrash).GroupBy(x => x.AppVersions))
	{
		<h4>@version.Key.ToString()</h4>
		foreach(var report in version)
		{
			<div class="crash-report">
				<p><strong>@TimeZoneInfo.ConvertTimeFromUtc(report.LastCrash, pstTimeZone).ToString("g")</strong> @Html.ActionLink(report.Title, "Log", new { id = report.Id, version = version.Key.ToString() }) (@report.Occurences)</p>
			</div>
		}
	}
}
